*{
    font-family: montserrat;
    font-stretch: extra-expanded;
    font-size: 1.02em;
    /* font-weight:600; */
    /* color:#C8C8C8; */
}

.dsclogo > img{
    width:19vh;
    height:5.5vh;
    float:right;
    margin-right:60px;
    margin-top:15px;
}
.applogo > img{
    width:9.4vh;
    height:5.6vh;
    margin-left:66px;
    margin-top:25px;
}
.email{
    width:99vw;
    text-align: center;
}
#myMessage{
    border-color:#C8C8C8;
    border-style: solid;
    margin-top:35px;
    width:30vw;
    height:5.5vh;
    border-radius: 8px;
    padding:5px;
} 
#attendence_button{
    width:30vw;
    height:6.5vh;
    margin-top:50px;
    border-radius: 10px;
    border-style: hidden;
    background-color: #2F54EB;
    color:white;
    font-weight: 800;
    font-stretch: ultra-expanded;
    cursor: pointer;
}
#messages{
    text-align: center;
    margin-top:40px;
}
@media screen and (max-width: 700px){

    #myMessage{
        
        width:40vw;
        height:5.5vh;
        border-radius: 8px;
        padding:5px;
    } 
    #attendence_button{
        width:20.9vw;
        height:8vh;
        margin-top:50px;
        border-radius: 10px;
        border-style: hidden;
        background-color: #2F54EB;
        color:white;
        font-weight: 800;
        font-stretch: ultra-expanded;
        cursor: pointer;
    }

}