*{
    font-family: montserrat;
    font-stretch: extra-expanded;
    font-size: 1.02em;
    /* font-weight:600; */
    /* color:#C8C8C8; */
}

.dsclogo > img{
    width:19vh;
    height:5.5vh;
    float:right;
    margin-right:60px;
    margin-top:15px;
}
.applogo > img{
    width:9.4vh;
    height:5.6vh;
    margin-left:66px;
    margin-top:25px;
}
.heading{
    color:#2F54EB;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 30px;
}
.headingparent{
    width:99vw;
    text-align: center;
    /* border-style: solid;
    border-color: lightcoral; */
}
.intake{
    margin:auto auto;
    width:76vw;
    padding-top:10px;
    /* border-style: solid;
    border-color: lightcoral; */
    /* text-align: center; */
}
.eventname > input{
    width:99%;
    padding:15px;
    border-radius: 13px;
    border-style:solid;
    border-color:#C8C8C8;
}
.description{
    width:99%;
    padding: 15px;
    border-radius: 13px;
    border-style:solid;
    border-color:#C8C8C8;
    border-width: 2px;
    
}
.ends > input{
    width:80%;
    padding:15px;
    border-radius: 13px;
    border-style:solid;
    border-color:#C8C8C8;
}
.ends1 > input{
    width:80%;
    padding:15px;
    border-radius: 13px;
    border-style:solid;
    border-color:#C8C8C8;
    margin-bottom:40px;
}
.submit{
    margin-top:20px;
    width:80%;
    padding:15px;
    border-radius: 13px;
    background-color: #2F54EB;
    color:white;
    border-style: solid;
    border-color:#2F54EB;
}
.f2{
   width:30px;
   height:30px; 
   display:inline-block;
   margin-top:60px;
   margin-left:25px;
}
.f3{
    width:30px;
   height:30px; 
   display:inline-block;
   margin-top:60px;
   margin-left:25px;
}
.f1{
    padding-bottom: 20px;
}
.ends > h4{
    margin-top:-30px;
}
.applogo1{
    background-color: #2F54EB;
    width:32px;
    height:32px;
    border-radius: 50%;
    margin-left:50px;
    margin-top:50px;
    margin-bottom:-70px;
    cursor: pointer;
}
.applogo1 > img{
    width: 12px;
    height:15px;
    margin-left: 9px;
    margin-top: 5px;

}
@media screen and (max-width: 700px){

    .dsclogo{
        display:none;
    }
    .applogo > img{
        margin-left:40px;
    }
    .headingparent{
        /* width:112vw; */
        width:99vw;
    }
    .intake{
        /* width:108vw; */
        width:85vw;
    }
    .oneline{
        display: inline-table;
    }
    .f3{
        width:30px;
       height:30px; 
       display:inline-block;
       margin-top:60px;
       margin-left:98px;
    }
    .applogo1{
        
        margin-left:17px;
    }
    .submit{
        margin-bottom: 50px;
    }
}