*{
    font-family: montserrat;
    font-stretch: extra-expanded;
    font-size: 1.02em;
    /* font-weight:600; */
    /* color:#C8C8C8; */
}

.dsclogo > img{
    width:19vh;
    height:5.5vh;
    float:right;
    margin-right:60px;
    margin-top:15px;
}
.applogo > img{
    width:9.4vh;
    height:5.6vh;
    margin-left:66px;
    margin-top:25px;
}
.heading{
    color:#2F54EB;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 30px;
    font-weight: bolder;
}
.headingparent{
    width:99vw;
    text-align: center;
}
.f1{
    border-color:#C8C8C8;
    border-style: solid;
    margin-top:35px;
    width:20vw;
    height:5.5vh;
    border-radius: 8px;
    padding:5px;
}
.email{
    width:99vw;
    text-align: center;
}
.carder{
    border-style: none;
    box-shadow: 2px 2px 4px 4px rgb(214, 213, 213,0.8);
    border-radius: 13px;
    width:57vh;
    height:40vh;
    margin:40px;
    /*margin-right:40px; */
    margin-top: 40px;
    margin-left:-38px;
}
.carder > h2{
    padding:30px;
    color:#2F54EB;
    font-weight: 800;
}
.carder > h5{
    padding-left:30px;
    color:#2F54EB;
}
.buttons > button{
    border-style: solid;
    border-color: #2F54EB;
    background-color: white;
    color:#2F54EB;
    font-weight: 900;
    width:20vh;
    height:8vh;
    border-radius: 13px;
    border-width: 4px;
}
.buttons{
    width: 100%;
    text-align: center;
    margin-top:8vh;
    
    
}
@media screen and (max-width: 700px){

    .dsclogo{
        display:none;
    }
    .applogo{
        display:none;
    }
    .heading{
        padding-top:100px;
    }
    .f1{
        width:60vw;
    }
    .carder{
        width:55vh;
        height:45vh;
    }
}